 <div class="container">
  {{#each data}}
  <div class="{{{this.id}}} news">
    <div class="title"><a href="{{this.link}}" class="link">{{this.title}}</a>  <button class="add-article" value="{{this.id}}"> Save Article</button></div>
    <div class="summary">{{this.summary}}</div>
    </div> </br>
{{/each}}
</div>