<div class="container">
    {{#each data}}
    <div class="{{{this._id}}} news">
        <div class="title">
            <a href="{{this.link}}" class="link">{{this.title}}</a>
            <button class="remove-article" value="{{this._id}}"> Remove Article</button>
            <button class="add-note" value="{{this._id}}"> Add Note</button>
        </div>
        <div class="summary">{{this.summry}}</div>
    </div>
    </br>
    {{/each}}
    <!-- modal  -->
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" value=""></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body"> 
                   
                    <div class="saved-note" >no saved note
                    
                    </div> 
                    <button type="button" data-dismiss="modal"  class="remove">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   
                    <textarea class="note" ></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary save" aria-label="Close" value="">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal-->
</div>